<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理系统</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/Public/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/Public/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/Public/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/Public/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<!-- header start -->
<include file="Public/header" />
<!-- header end -->
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <include file="Public/sidebar" />
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{$item}管理</strong> / <small> {$item}编辑</small></div>
      </div>

      <hr>

      

      <div class="am-g">
        <div class="am-u-sm-12">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
              <th class="table-title">ID</th>
              <th class="table-title">头像</th>
              <th class="table-title">账号</th>
              <th class="table-title">昵称</th>
              <th class="table-title">姓名</th>
              <th class="table-title">电话</th>
              <th class="table-title">类别</th>
              <th class="table-title">会员等级</th>
              <th class="table-title">认证状态</th>                
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{$detail.id}</td>
              <td><img style="width: 30px; height: 30px;" src="/Uploads/{$detail.avtor}"></td>
              <td>{$detail.username}</td>
              <td>{$detail.nickname}</td>
              <td>{$detail.realname}</td>
              <td>{$detail.phone}</td> 
              <td>{$detail.type}</td>
              <td>{$detail.member}</td>
              <td>{$detail.auth}</td>                
            </tr>
            </tbody>
          </table>
          <ul class="am-avg-sm-2 am-avg-md-2 am-avg-lg-3 am-margin gallery-list">
            <li>
              <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="/Uploads/{$detail.avtor}" alt=""/>
                <div class="gallery-title">身份证正面照片</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="/Uploads/{$detail.avtor}" alt=""/>
                <div class="gallery-title">身份证反面照片</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="/Uploads/{$detail.avtor}" alt=""/>
                <div class="gallery-title">驾驶证</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="/Uploads/{$detail.avtor}" alt=""/>
                <div class="gallery-title">行驶证</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="/Uploads/{$detail.avtor}" alt=""/>
                <div class="gallery-title">营业执照</div>
              </a>
            </li>
            <li>
              <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="/Uploads/{$detail.avtor}" alt=""/>
                <div class="gallery-title">煤矿照片</div>
              </a>
            </li>
            
          </ul>
          


          
          <form method="post" class="am-form"  >
            <input type="hidden" name="id" value="{$detail.id}" >
            
            <label for="result">未通过原因:</label>
            <input type="text" name="result" id="result"  value="{$detail.result}">       
            <br>
            <div class="am-u-sm-4"><a href="/Home/{$model}/PassAuth?id={$detail.id}" class="am-btn am-btn-primary am-btn-block am-btn-sm am-fl">通过认证</a><br><br> </div>
            <div class="am-cf">
            <div class="am-u-sm-4"><input type="submit" name="" value="驳回认证" class="am-btn am-btn-success am-btn-sm am-btn-block am-fl"><br><br> </div>
            <div class="am-cf">
            <div class="am-u-sm-4"><a href="/Home/{$model}/Delete?id={$detail.id}" class="am-btn am-btn-danger am-btn-sm am-btn-block am-fl">删除用户</a><br><br> </div>
            <div class="am-cf">
              
            </div>
          </form><br>
          
        </div>

      </div>
    </div>
    <!-- footer start -->
    <include file="Public/footer" />
    <!-- footer end -->
    

  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>



<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/Public/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/Public/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/Public/js/amazeui.min.js"></script>
<script src="/Public/js/app.js"></script>
</body>
</html>
