<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理系统</title>
  <meta name="description" content="这是一个 table 页面">
  <meta name="keywords" content="table">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/Public/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/Public/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/Public/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/Public/css/admin.css">
  <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  <link href="/Public/css/zoom.css"rel="stylesheet">     
  <script src="/Public/js/zoom.js"></script>

 

  
</head>
<body>
  <div class="over"></div><!--背景层-->
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<!-- header start -->
<include file="Public/header" />
<!-- header end -->
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <include file="Public/sidebar" />
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{$item}管理</strong> / <small> {$item}列表</small></div>
      </div>

      <hr>


      <div class="am-g">
        <div class="am-u-sm-12">
          <div class="am-form">
            <table class="am-table ">
                  <!-- <table class="am-table am-table-striped am-table-hover table-main"> -->
              <thead>
              <tr>
                <th class="table-title">发布时间</th>
                <th class="table-title">标题</th>
                <th class="table-title">内容</th>
                <th class="table-title">接受者</th>               
                <th class="table-title">反馈内容</th>
                <th class="table-title">反馈图片</th>
                <th class="table-title">反馈时间</th>
                <th class="table-title">路径</th>
              </tr>
              </thead>
              <tbody>
                <volist name="list" id="vo">
              <tr>
                <td>{$vo.timepaisong}</td>
                <td>{$vo.title}</td>
                <td>{$vo.content}</td>
                <td>{$vo.realname}</td>
                
                <td>{$vo.fankui}</td>
                <td>
                  
            <img src="/Uploads/{$vo.img}"  data-action="zoom" onerror="this.style.display='none'" class="aaa" style="width: 100px;height: 100px;">

        </td>
                <td>{$vo.timefankui}</td>   
                <td>
                  <a href="/Home/Jingqing/Trace?paisongid={$vo.paisongid}&userid={$vo.userid}&jingqingid={$vo.jingqingid}" class="am-btn am-btn-info am-btn-xs " style="color: white;">
                    <span class="am-icon-gear"></span> 查看
                  </a>

                </td>             
              </tr>
              
            </volist>
              </tbody>

           
            </table>
            
          </div>
        </div>

      </div>
    </div>
    <!-- footer start -->
    <include file="Public/footer" />
    <!-- footer end -->
    

  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>



<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/Public/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->


<script src="/Public/js/amazeui.min.js"></script>
<script src="/Public/js/app.js"></script>
</body>
</html>
