<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <link rel="stylesheet" href="/css/bootstrapztree.css" type="text/css">  
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.ztree.core.js"></script>
  <script type="text/javascript" src="/js/jquery.ztree.excheck.js"></script>
  <script type="text/javascript" src="/js/jquery.ztree.exedit.js"></script>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="类别1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">人数限制:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalnum" class="form-control" name="row[totalnum]" type="text">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">类别:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-groups" class="form-control" name="row[groups]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">单位:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-organs" class="form-control" name="row[organs]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">部门:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-departs" class="form-control" name="row[departs]" type="text">
        </div>
    </div>
   <!--  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="normal"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2" onclick="seend()">派送:</label><p></p>
    </div>
    <div class="form-group">
        <ul id="treeDemo" class="ztree"></ul>

<SCRIPT type="text/javascript">
    // 单击事件
    function zTreeOnClick(event, treeId, treeNode) {        
        // alert(treeNode.tId + ", " + treeNode.name);
        alert(treeNode.tId);
        
    }   
 
        
        var setting = {
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                selectedMulti: false
            },
            check: {
                enable: true,
                chkboxType: {"Y":"s","N":"s" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback:{
              onClick:zTreeOnClick,
            },
            edit: {
                enable: true
            }
        };

        var zNodes =[
    {id:1001, pId:0, name:"警察", open:true},
    {id:1002, pId:0, name:"保安"}
        ];

        $(document).ready(function(){
             getOrgan();
            $treer = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            $treer.expandAll(true);
        });

grouplist = Array();
organlist = Array();
departlist = Array();    
var j = 0;

  


function getOrgan(){
    url = "/Api/Rule/Organ";
    console.log(url);    
    $.get(url, function(result){
      
      j = 2;
      organlist = result;
      for (var i = 0;i<result.length;i++) {
        console.log(result[i]);
        zNodes[j] = Array();  
        zNodes[j]["id"]=result[i]["id"]+2000;
        zNodes[j]["pId"]=result[i]["type_id"]+1000;
        zNodes[j]["name"]=result[i]["name"];
        j++;
      } 
      console.log(zNodes);
      
      getDepart();
    });  
}


function getDepart(){
    url = "/Api/Rule/Depart";
    console.log(url);
    $.get(url, function(result){
      console.log(result);
      departlist = result;
      for (var i = 0;i<result.length;i++) {
        zNodes[j] = Array();  
        zNodes[j]["id"]=result[i]["id"];
        zNodes[j]["pId"]=result[i]["organ_id"]+2000;
        zNodes[j]["name"]=result[i]["name"];
        j++;

        
      } 
      console.log(zNodes);
      $treer = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        $treer.expandAll(true);
        
      // $("input[name*='depart']").attr("checked", true);
      // checkboxChangeAdd();
      // getRenwu();
    });  
}
function seend(){
    var sNodes = $treer.getCheckedNodes();
        console.log(sNodes);
}
//查询Node
// function getNode(){    
//   url = "/Api/Node/Index";
//   console.log(url);
//   $.get(url, function(result){
//     nodelist = result;
    
//     for (var i = 0;i<result.length;i++) {
//       var value = result[i];
//       nodelist[i]['pId'] = nodelist[i]['pid'];  
//     } 
//     console.log("nodelist:");
//     console.log(nodelist);  

//     $treer = $.fn.zTree.init($("#treeDemo"), setting, nodelist);
//     $treer.expandAll(true);
    
//   });
// }

        var newCount = 1;
        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='add node' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);
            if (btn) btn.bind("click", function(){
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
                return false;
            });
        };
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        };
        //-->
    </SCRIPT>
        <div class="col-xs-12 col-sm-8">
<table class="table">
  <thead>
    <tr>
      <th>身份</th>
      <th>单位</th>
      <th>部门</th>
    </tr>
  </thead>
  <tbody id="renwurule">
    <tr>
      <td  id="renwurulegroups">
          <input id="group-1" type="checkbox" value=警察">警察<br>
          <input id="group-2" type="checkbox" value="保安">保安
      </td>
      <td  id="renwuruleorgans">
          
      </td>
      <td  id="renwuruledeparts">
          
      </td>
    <!-- <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script> -->
<script type="text/javascript">

function getRenwu(){

      console.log(result);
      groupids = result['groups'].split(",");
      console.log(groupids);
      for(var i=0;i<groupids.length;i++){
        $("#group-"+groupids[i]).attr("checked", true);
        console.log("#group-"+groupids[i]);
      }

      organids = result['organs'].split(",");
      console.log(organids);
      for(var i=0;i<organids.length;i++){
        $("#organ-"+organids[i]).attr("checked", true);
        console.log("#organ-"+organids[i]);
      }

      departids = result['departs'].split(",");
      console.log(departids);
      for(var i=0;i<departids.length;i++){
        $("#depart-"+departids[i]).attr("checked", true);
        console.log("#depart-"+departids[i]);
      }
      
    // });  
}

function checkboxChangeAdd(){
    $("input[type='checkbox']").change(function(e) {
        var selectid = e.target.id;
        var selectchecked = $("#"+selectid).is(':checked'); 
        console.log(selectid+selectchecked);


        if(selectid.indexOf("group") != -1){
            groupid = selectid.slice(6);
            console.log(groupid);
            for(var i=0;i<organlist.length;i++){
                organ = organlist[i];
                // console.log(organ);
                if(organ['type_id'] == groupid){
                    console.log("#organ-"+organ['id']+":"+selectchecked);
                    $("#organ-"+organ['id']).prop("checked", selectchecked);
                    for(var j=0;j<departlist.length;j++){
                        depart = departlist[j];
                        // console.log(organ);
                        if(depart['organ_id'] == organ['id']){
                            console.log("#depart-"+depart['id']+":"+selectchecked);
                            $("#depart-"+depart['id']).prop("checked", selectchecked);
                        }
                    }
                }
            }
        }
        if(selectid.indexOf("organ") != -1){
            organid = selectid.slice(6);
            console.log(organid);
            $("#organ-"+organid).prop("checked", selectchecked);
            for(var j=0;j<departlist.length;j++){
                depart = departlist[j];
                if(depart['organ_id'] == organid){
                    console.log("#depart-"+depart['id']+":"+selectchecked);
                    $("#depart-"+depart['id']).prop("checked", selectchecked);
                }
            }

        }
        if(selectid.indexOf("depart") != -1){
            departid = selectid.slice(7);
            console.log(departid);

        }
        savequanxian();
        // alert(e.target.id);
        // alert("11");
    });
}

function savequanxian(){
    var groups = ",";
    var organs = ",";
    var departs = ",";
    select = $("#group-1").is(':checked');
    if(select){
        groups=groups+"1,"  ;  
    }
    select = $("#group-2").is(':checked');
    if(select){
        groups=groups+"2,"  ;  
    }
    
    console.log(groups);
    for(var i=0;i<organlist.length;i++){
        select = $("#organ-"+organlist[i]['id']).is(':checked');
        if(select){
            organs=organs+organlist[i]['id']+","  ;  
        }
    }
    console.log(organs);
    for(var i=0;i<departlist.length;i++){
        select = $("#depart-"+departlist[i]['id']).is(':checked');
        if(select){
            departs=departs+departlist[i]['id']+","  ;  
        }
    }
    console.log(departs);
    $("#c-groups").val(groups);
    $("#c-organs").val(organs);
    $("#c-departs").val(departs);
   
}
$(document).ready(function(){
    
});
</script>
    </tr>
  </tbody>
</table>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Memo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-memo" class="form-control" name="row[memo]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
